.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

node_modules

# Local History for Visual Studio Code
.history/

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next directories
.next
out/

# Misc files
*.bak